body {
  margin: 4rem;
}

.header h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}
.profil-image img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.section {
  display: flex;
  justify-content: space-between;
}
.summery {
  width: 45%;
}
.work {
  width: 45%;
}
.summery p {
  font-size: large;
  font-weight: 400;
}

.work_experience h3 {
  font-size: larger;
  margin-bottom: 1px;
}

.work_experience span {
  font-weight: 800;
  font-size: medium;
}

.work_experience h3,
.work_experience span,
.work_experience p {
  margin-top: 1px;
}

.frontend {
  display: flex;
  justify-content: space-between;
  margin: 8px 20px;
}

.table-col {
  background-color: rgb(170, 163, 163);
  padding: 2px;
  border-radius: 20%;
  text-align: center;
  /* margin: 8px; */
}

.table-row tr {
  margin: 0 8px;
}
